fastapi
uvicorn
pydantic
pydantic[email]
email-validator
numpy
pandas
requests
sqlalchemy
passlib[bcrypt]
python-dotenv
alembic
python-jose[cryptography]
joblib
scikit-learn
pytest
pytest-asyncio
httpx
python-multipart
